body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1466px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:106px;
  top:230px;
  width:268px;
  height:240px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:240px;
}
#u1 {
  position:absolute;
  left:2px;
  top:112px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:1420px;
  width:964px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:1433px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:1210px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:27px;
  top:50px;
  width:53px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:100px;
  top:70px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#949494;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:380px;
  top:57px;
  width:340px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:720px;
  top:57px;
  width:72px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:386px;
  top:59px;
  width:319px;
  height:30px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#BCBCBC;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1020px;
  top:7px;
  width:160px;
  height:16px;
  color:#BCBCBC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:170px;
  width:1210px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:1193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1210px;
  height:3px;
}
#u24 {
  position:absolute;
  left:65px;
  top:144px;
  width:224px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:327px;
  top:148px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:17px;
  color:#949494;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:420px;
  top:148px;
  width:35px;
  height:20px;
  font-size:17px;
  color:#FF3333;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:505px;
  top:148px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:17px;
  color:#797979;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:580px;
  top:148px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:17px;
  color:#797979;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:62px;
  top:187px;
  width:233px;
  height:16px;
  color:#BCBCBC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1270px;
  top:200px;
  width:196px;
  height:48px;
  color:#0000FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:48px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1270px;
  top:258px;
  width:105px;
  height:32px;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:141px;
  top:244px;
  width:198px;
  height:196px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:196px;
}
#u41 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:399px;
  top:303px;
  width:71px;
  height:19px;
  font-size:16px;
  color:#FF0033;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:397px;
  top:395px;
  width:75px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:402px;
  top:253px;
  width:113px;
  height:20px;
  font-size:16px;
  color:#A1A1A1;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:399px;
  top:351px;
  width:209px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:89px;
  top:539px;
  width:781px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:764px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:781px;
  height:1px;
}
#u51 {
  position:absolute;
  left:89px;
  top:513px;
  width:53px;
  height:16px;
  color:#AEAEAE;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:89px;
  top:570px;
  width:781px;
  height:410px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:410px;
}
#u54 {
  position:absolute;
  left:2px;
  top:197px;
  width:777px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:89px;
  top:990px;
  width:781px;
  height:410px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:410px;
}
#u56 {
  position:absolute;
  left:2px;
  top:197px;
  width:777px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:399px;
  top:439px;
  width:91px;
  height:28px;
  color:#AEAEAE;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:517px;
  top:439px;
  width:91px;
  height:28px;
  color:#AEAEAE;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:310px;
  top:273px;
  width:320px;
  height:75px;
  font-size:16px;
  color:#BCBCBC;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:75px;
}
#u62 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:991px;
  top:46px;
  width:94px;
  height:30px;
  color:#AEAEAE;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:991px;
  top:86px;
  width:94px;
  height:30px;
  color:#AEAEAE;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:984px;
  top:40px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
