body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:55px;
  width:736px;
  height:167px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:167px;
}
#u1 {
  position:absolute;
  left:2px;
  top:76px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:65px;
  width:97px;
  height:23px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:65px;
  width:97px;
  height:23px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:198px;
  top:81px;
  width:97px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:296px;
  top:84px;
  width:97px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:235px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:295px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#515151;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:355px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:415px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#515151;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:475px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#949494;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:535px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:780px;
  top:84px;
  width:170px;
  height:32px;
  color:#3300FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:164px;
  top:214px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#3300FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:254px;
  top:195px;
  width:57px;
  height:16px;
  -webkit-transform:rotate(353deg);
  -moz-transform:rotate(353deg);
  -ms-transform:rotate(353deg);
  transform:rotate(353deg);
  font-size:14px;
  color:#949494;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:33px;
  top:820px;
  width:832px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:37px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:66px;
  top:833px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:330px;
  top:260px;
  width:60px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:284px;
  top:364px;
  width:66px;
  height:16px;
  color:#AEAEAE;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:340px;
  top:330px;
  width:40px;
  height:16px;
  color:#AEAEAE;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:284px;
  top:390px;
  width:105px;
  height:16px;
  color:#AEAEAE;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:284px;
  top:416px;
  width:92px;
  height:16px;
  color:#AEAEAE;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:104px;
  top:470px;
  width:528px;
  height:80px;
  color:#AEAEAE;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:80px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:104px;
  top:452px;
  width:27px;
  height:16px;
  color:#AEAEAE;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:104px;
  top:583px;
  width:226px;
  height:16px;
  color:#AEAEAE;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:104px;
  top:565px;
  width:27px;
  height:16px;
  color:#AEAEAE;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:104px;
  top:630px;
  width:106px;
  height:16px;
  color:#AEAEAE;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:104px;
  top:612px;
  width:53px;
  height:16px;
  color:#AEAEAE;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:86px;
  top:656px;
  width:489px;
  height:85px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:85px;
}
#u55 {
  position:absolute;
  left:2px;
  top:34px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:690px;
  top:244px;
  width:27px;
  height:16px;
  color:#3300FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:219px;
  top:41px;
  width:77px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  height:3px;
}
#u59 {
  position:absolute;
  left:123px;
  top:70px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u62 {
  position:absolute;
  left:2px;
  top:20px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u65_img.selected {
}
#u65.selected {
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#33CCCC;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u67_img.selected {
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u71_img.selected {
}
#u71.selected {
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u73_img.selected {
}
#u73.selected {
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:630px;
  top:14px;
  width:90px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:630px;
  top:43px;
  visibility:hidden;
}
#u77_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u77_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u81 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
