body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:55px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:55px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:208px;
  top:14px;
  width:65px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:282px;
  top:14px;
  width:70px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:362px;
  top:14px;
  width:51px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#33CCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:423px;
  top:14px;
  width:58px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:850px;
  top:14px;
  width:90px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:1903px;
  width:964px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:37px;
  top:1916px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:350px;
  top:39px;
  width:79px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:2px;
}
#u21 {
  position:absolute;
  left:678px;
  top:9px;
  width:79px;
  height:32px;
  color:#BCBCBC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:74px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:178px;
  top:74px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#33CCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:350px;
  top:130px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#A1A1A1;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:608px;
  top:162px;
  width:105px;
  height:16px;
  color:#A1A1A1;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:28px;
  top:172px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#FF3366;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:54px;
  top:198px;
  width:265px;
  height:32px;
  font-size:14px;
  color:#949494;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:54px;
  top:294px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:54px;
  top:330px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:121px;
  top:290px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#949494;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u40 {
  position:absolute;
  left:120px;
  top:311px;
  width:220px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u41 {
  position:absolute;
  left:122px;
  top:326px;
  width:200px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#949494;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u42 {
  position:absolute;
  left:121px;
  top:347px;
  width:220px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u43 {
  position:absolute;
  left:35px;
  top:394px;
  width:208px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:106px;
  top:434px;
  width:172px;
  height:16px;
  color:#797979;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:140px;
  top:469px;
  width:240px;
  height:16px;
  color:#797979;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:140px;
  top:495px;
  width:240px;
  height:16px;
  color:#797979;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:140px;
  top:521px;
  width:240px;
  height:16px;
  color:#797979;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:140px;
  top:547px;
  width:240px;
  height:16px;
  color:#797979;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:106px;
  top:588px;
  width:228px;
  height:16px;
  color:#797979;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:140px;
  top:623px;
  width:133px;
  height:16px;
  color:#797979;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:140px;
  top:649px;
  width:240px;
  height:16px;
  color:#797979;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:140px;
  top:676px;
  width:240px;
  height:16px;
  color:#797979;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:140px;
  top:702px;
  width:240px;
  height:16px;
  color:#797979;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:106px;
  top:738px;
  width:146px;
  height:16px;
  color:#797979;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:140px;
  top:773px;
  width:133px;
  height:16px;
  color:#797979;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u69 {
  position:absolute;
  left:140px;
  top:799px;
  width:240px;
  height:16px;
  color:#797979;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:140px;
  top:826px;
  width:240px;
  height:16px;
  color:#797979;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:140px;
  top:852px;
  width:240px;
  height:16px;
  color:#797979;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75 {
  position:absolute;
  left:110px;
  top:888px;
  width:146px;
  height:16px;
  color:#797979;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:110px;
  top:970px;
  width:176px;
  height:16px;
  color:#797979;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:114px;
  top:1259px;
  width:146px;
  height:16px;
  color:#797979;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:148px;
  top:1294px;
  width:133px;
  height:16px;
  color:#797979;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:148px;
  top:1320px;
  width:240px;
  height:16px;
  color:#AEAEAE;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:148px;
  top:1347px;
  width:240px;
  height:16px;
  color:#797979;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  position:absolute;
  left:148px;
  top:1373px;
  width:240px;
  height:16px;
  color:#797979;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:110px;
  top:1409px;
  width:146px;
  height:16px;
  color:#797979;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:144px;
  top:1444px;
  width:133px;
  height:16px;
  color:#797979;
}
#u92 {
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u91_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u93 {
  position:absolute;
  left:144px;
  top:1470px;
  width:240px;
  height:16px;
  color:#797979;
}
#u94 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u93_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95 {
  position:absolute;
  left:144px;
  top:1497px;
  width:240px;
  height:16px;
  color:#797979;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:144px;
  top:1523px;
  width:240px;
  height:16px;
  color:#797979;
}
#u98 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u97_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  position:absolute;
  left:114px;
  top:1559px;
  width:153px;
  height:16px;
  color:#797979;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:148px;
  top:1594px;
  width:133px;
  height:16px;
  color:#797979;
}
#u102 {
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103 {
  position:absolute;
  left:148px;
  top:1620px;
  width:240px;
  height:16px;
  color:#797979;
}
#u104 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105 {
  position:absolute;
  left:148px;
  top:1647px;
  width:240px;
  height:16px;
  color:#797979;
}
#u106 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:148px;
  top:1673px;
  width:240px;
  height:16px;
  color:#797979;
}
#u108 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:144px;
  top:930px;
  width:40px;
  height:16px;
  color:#868686;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:184px;
  top:946px;
  width:186px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:186px;
  height:1px;
}
#u112 {
  position:absolute;
  left:184px;
  top:925px;
  width:186px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#D7D7D7;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u113 {
  position:absolute;
  left:470px;
  top:888px;
  width:53px;
  height:16px;
  color:#3333FF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:470px;
  top:970px;
  width:148px;
  height:16px;
  color:#3333FF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:160px;
  top:1153px;
  width:549px;
  height:100px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:100px;
}
#u118 {
  position:absolute;
  left:2px;
  top:42px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:164px;
  top:1155px;
  width:406px;
  height:25px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#C9C9C9;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u120 {
  position:absolute;
  left:160px;
  top:996px;
  width:174px;
  height:147px;
  color:#C9C9C9;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:147px;
}
#u121 {
  position:absolute;
  left:2px;
  top:66px;
  width:170px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:344px;
  top:996px;
  width:174px;
  height:147px;
  color:#C9C9C9;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:147px;
}
#u123 {
  position:absolute;
  left:2px;
  top:66px;
  width:170px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:535px;
  top:996px;
  width:174px;
  height:147px;
  color:#C9C9C9;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:147px;
}
#u125 {
  position:absolute;
  left:2px;
  top:66px;
  width:170px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:258px;
  top:1795px;
  width:64px;
  height:25px;
  color:#AEAEAE;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:300px;
  top:1443px;
  visibility:hidden;
}
#u128_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:132px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:132px;
}
#u130 {
  position:absolute;
  left:2px;
  top:58px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:110px;
  top:27px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:58px;
  top:88px;
  width:62px;
  height:29px;
  color:#AEAEAE;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:188px;
  top:88px;
  width:62px;
  height:29px;
  color:#AEAEAE;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:84px;
  top:74px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
