body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:270px;
  width:50px;
  height:30px;
  color:#A1A1A1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:270px;
  width:50px;
  height:30px;
  color:#A1A1A1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:27px;
  top:773px;
  width:705px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:53px;
  top:786px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:65px;
  width:150px;
  height:31px;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:133px;
  top:74px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:210px;
  width:100px;
  height:60px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:16px;
  top:10px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:36px;
  top:20px;
  width:20px;
  height:40px;
  color:#A1A1A1;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:27px;
  top:150px;
  width:253px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:10px;
  top:120px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:460px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:460px;
}
#u26 {
  position:absolute;
  left:2px;
  top:222px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:670px;
  top:8px;
  width:110px;
  height:35px;
  color:#797979;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:670px;
  top:45px;
  width:110px;
  height:27px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:670px;
  top:104px;
  width:110px;
  height:26px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u32 {
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:670px;
  top:75px;
  width:110px;
  height:27px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:3px;
  top:8px;
  width:640px;
  height:122px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:122px;
}
#u36 {
  position:absolute;
  left:2px;
  top:53px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:750px;
  top:20px;
  width:20px;
  height:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:670px;
  top:8px;
  width:110px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:8px;
  top:10px;
  width:628px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u41 {
  position:absolute;
  left:8px;
  top:140px;
  width:200px;
  height:140px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:140px;
}
#u42 {
  position:absolute;
  left:2px;
  top:54px;
  width:196px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:828px;
  top:147px;
  width:196px;
  height:43px;
  color:#3300FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:43px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:8px;
  top:333px;
  width:153px;
  height:22px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:9px;
  top:362px;
  width:53px;
  height:26px;
  color:#868686;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:71px;
  top:365px;
  width:23px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:99px;
  top:365px;
  width:23px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:16px;
  top:88px;
  width:92px;
  height:32px;
  color:#3366FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:8px;
  top:260px;
  visibility:hidden;
}
#u54_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:166px;
  top:2px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:824px;
  top:210px;
  width:196px;
  height:130px;
  color:#3300FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:130px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:8px;
  top:304px;
  width:153px;
  height:22px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:828px;
  top:340px;
  width:191px;
  height:48px;
  color:#3333FF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:48px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:670px;
  top:42px;
  width:110px;
  height:128px;
  overflow:hidden;
  visibility:hidden;
}
#u64_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:128px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:87px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:233px;
  top:413px;
  width:60px;
  height:27px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:353px;
  top:413px;
  width:60px;
  height:27px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:55px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:55px;
}
#u78 {
  position:absolute;
  left:2px;
  top:20px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u81_img.selected {
}
#u81.selected {
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u83_img.selected {
}
#u83.selected {
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u85_img.selected {
}
#u85.selected {
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u87_img.selected {
}
#u87.selected {
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u89_img.selected {
}
#u89.selected {
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:840px;
  top:13px;
  width:90px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:840px;
  top:42px;
  visibility:hidden;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
