body{ font-family: "Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif; }
.clearfix { zoom: 1; }
.clearfix:after { clear: both; content: ''; display: block; }
.fl { display: inline; float: left; }
.fr { display: inline; float: right; }
.class_note{width:1210px;height:668px;margin:0 auto;}
.class_note .note_title{width:788px;height:40px;margin:0 auto;background:#fff;position: relative;z-index: 1}
.class_note .note_title span{
	width:182px;
	height:40px;
	float: left;
	text-align:center;
	line-height:40px;
	color:#77be38;
	background:url('../images/grade/note.png') no-repeat;
	cursor: pointer;
	font-size:18px;
	color:#6fba2c;
	}
	.class_note .note_title span.active{
		color:#fff;
		background:url('../images/grade/inform.png') no-repeat;
	}
	.class_note .note_title span.dou{
		margin-left: 20px;
	}
	.class_note .note_title span.rig{
		margin-right: 20px;
	}
	.noteBox{
		width: 1210px;
		height: 628px;
		background:#fff;
		box-shadow: 2px 2px 29px #e8e8e8,-3px 1px 19px #e8e8e8;
		margin: 0px auto;
		border-radius: 13px;
		overflow: hidden;
	}
	.pushBox{
		width: 1210px;
		height: 32px;
		margin-top: 20px;
	}
	.pushBox span{
		width:82px;
		height: 32px;
		float:right;
		background: url(../images/grade/push.png) no-repeat;
		margin-right: 20px;
		cursor: pointer;
	}
	.name{
		font-size:16px;
		color:#6fba2c;
		width: 50px;
		height: 40px;
		line-height: 40px;
		margin:0 20px;
	}
	.titleBox{
		margin: 20px 0;
	}
	.titleCon{
		width: 1096px;
		height: 38px;
		border:1px solid #6fba2c;
		outline: none;
		font-size:14px;
		color:#707070;
	}
	.conDetail{
		height: 476px;
		width: 1092px;
		border:1px solid #6fba2c;
		resize: none;
		outline: none;
		font-size:14px;
		color:#707070;
		line-height: 30px;
	}
	/*页脚*/
	.bk-footimg{
    width:100%;
    height:191px;
	}
	.bk-footimg img {
    display: block;
    width: 100%;
	}
