.task_xia{
	width:1210px;
	height:40px;
	margin:0 auto;
}
/*下拉菜单*/
input{
	outline: none;
	}
.xial{
	width:450px;
	height:40px;
	float:left;
	margin-right:30px;
	border-radius:8px;
	z-index:1;
	position:relative;
	margin-left:608px;
}
.xial input{
	width:370px;
	height:32px;
	border-top-left-radius:8px; 
	border-bottom-left-radius:8px;
	border:3px solid #f39800;
	border-right:none;
	padding-left:20px;
	float:left;
}
.xoio{
	width:52px;
	height:100%;
	background:#f6b548;
	border-top-right-radius:8px; 
	border-bottom-right-radius:8px;
	float:left;
}
.xoio img{
margin-top:11px;
margin-left:11px;
}
.list{
	width:440px;
	height:196px;
	border-radius:6px; 
	position:relative;
	overflow:hidden;
	background:white;
}
.rotate{
	transform:rotate(180deg);
}
.lisst{
	position:absolute;
	top:0px;
	left:0px;
}
.listt{
	width:440px;
    height:196px;
    border: 2px solid #f39800;
    border-top: none;
    position: absolute;
    border-radius:8px; 
    left: 0px;
    top:37px;
    display: none;
}
.lisst li{
	width:417px;
	height:38px;
	line-height:38px;
	padding-left:23px;
}
.lisst li:hover{
	background:#f39800;
}
.lisst li:last-child:hover{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:8px;
}
/*返回*/
.task_pic{
	float:left;
	width:121px;
	height:40px;
	cursor:pointer;
}
/*作业题目*/
.task_item{
	width:1210px;
	padding-top:20px;
	margin:0 auto;
}
.result{
	margin-left:66px;
}
/*多选*/
.task_item .Multiselect{
	margin-left:36px;
	display:block;
}
.task_item .Multiselect i{
	margin-left:10px;
	width:13px;
	height:13px;
	background:url('../images/task/n.png') no-repeat left center;
}
.task_item .Multiselect i.chose{
	background: url(../images/xuek/y.png) no-repeat;
}
.task_item .Multiselect em{
	color:black;
}
/*单选*/
.task_item .task_odd{
	display:block;
}
.task_item .task_odd i{
	width:13px;
	height:13px;
	background:url('../images/task/sn.png') no-repeat left center;
}
.task_item .task_odd i.chose{
	background: url(../images/xuek/sy.png) no-repeat;
}
.task_item .task_odd em{
	color:black;
}
/*判断*/
.task_item .task_judge i{
	width:13px;
	height:13px;
	background:url('../images/task/sn.png') no-repeat left center;
}
.task_item .task_judge i.chose{
	background: url(../images/xuek/sy.png) no-repeat;
}
.task_item .task_judge em{
	margin-left:10px;
	color:black;
}
.task_spring{
	width:1210px;
}
.task_score{
	float:left;
	color:#707070;
	letter-spacing:3px;
}
.task_score span{
	margin-left:4px;
	display:inline-block;
	width:20px;
}
/*第一题*/
.task_item p{
	padding-bottom:20px;
	font-size:17px;
}
.changeBtn{
	position:absolute;
	cursor: pointer;
	top:0px;
	left:1074px;
	float:left;
}
.changeBtnA{
	position:absolute;
	cursor: pointer;
	top:0px;
	left:1146px;
	float:left;
}
/*第二题*/
.task_item .task_birds{
	padding-bottom:20px;
	padding-left:30px;
	font-size:17px;
}

/*第三题*/
.task_item .task_form{
	padding-bottom:20px;
	font-size:17px;
}
.task_item .Multiselect{
	padding-left:20px;

	display:block;
	padding-bottom:20px;
	font-size:18px;
}
.task_item .Multiselect i{
	padding-left:10px;
}
.task_item .Multiselect i em{
	color:black;
	padding-left:10px;
}
.task_item .task_pen{
	cursor: pointer;
	position:absolute;
	top:395px;
	right:50px;
	float:left;
}
/*第四题*/
.task_item .task_radio{
	padding-bottom:20px;
	font-size:17px;
}
.task_item .task_odd{
	display:block;
	padding-bottom:20px;
	font-size:17px;
}
.task_item .task_odd i{
	padding-left:10px;
}
.task_item .task_odd i em{
	color:black;
	padding-left:10px;
}
.task_item .task_four{
	cursor: pointer;
	position:absolute;
	top:615px;
	right:50px;
	float:left;
}
/*第五题*/
.task_item .task_tree{
	padding-bottom:20px;
	font-size:17px;
}
.task_item .task_judge{
	display:inline-block;
	padding-bottom:20px;
	font-size:17px;
}
.task_item .task_judge i{
	padding-left:10px;
}
.task_item .resultx{
	margin-left:20px;
}
.task_item .task_five{
	cursor: pointer;
	position:absolute;
	top:855px;
	right:50px;
	float:left;
}
/*第6题*/
.task_item .pic_one{
	width:100px;
	height:18px;
	cursor: pointer;
	margin-top:5px;
}
.task_item .pic_two{
	width:100px;
	height:18px;
}
.task_item .task_word{
	float: left;
	padding-bottom:20px;
	font-size:17px;
}
.task_item .task_teacher{
	display:inline-block;
	font-size:17px;
}
.task_item .task_teacher i{
	padding-left:10px;
}
.task_item .resultx{
	margin-left:20px;
}
.task_item .task_chat{
	cursor: pointer;
	position:absolute;
	top:989px;
	right:50px;
	float:left;
}
.task_item .key_key .task_key{
	width:35px;
	float:left;
}
.task_item .key_key img{
	float:left;
	margin-top:10px;
	cursor: pointer;
	margin-top:5px;
	margin-left:4px;
}
.task_item .key_key span{
	font-size:17px;
	float:left;
}
.task_item .key_key .teacher_answer{
	color:green;
	margin-left:4px;
	margin-top:2px;
}
.hue_six{
	margin-top:10px;
}
.score_six{
	margin-top:13px;
}
/*第7题*/
.ShortAnswer span{
	display: inline-block;
	font-size:17px;
	width:983px;
	line-height: 23px;
}
.task_short{
	margin-top:11px;
	font-size:17px;
	padding-left:30px;
}
.task_chat{
	cursor: pointer;
	position: absolute;
	top:0px;
	right:30px;
}
.task_test{
	resize:none;
	border:2px solid green;
	margin-left:0px;
	margin-top:20px;
	padding-left:20px;
}
.score_seven{
	margin-top:10px;
}
/*第八题*/
.eight_video{
	width:321px;
	height:180px;
	padding-left:65px;
	margin-top:10px;
}
.xxxx{
	width:321px;
	height:180px;
}
.eight_anwser{
	width:50px;
	font-size:17px;
	padding-left:30px;
	margin-top:17px;
}
.eight_sheet{
	margin-left:30px;
	margin-top:0px;
}
.eight_x{
	width:1030px;
	margin-top:20px;
	font-size:17px;
	margin-left:60px;
}
.task_vv{
	cursor: pointer;
	position:absolute;
	top:1234px;
	right:50px;
	float:left;	
}
.score_eight{
	margin-top:175px;
}
.btnA{
	position:absolute;
	cursor: pointer;
	top:0px;
	left:1016px;
	float:left;
}
.btnB{
	position:absolute;
	cursor: pointer;
	top:0px;
	left:1088px;
	float:left;
}





/* 样式整合 */














/*添加题目*/
.add_task{
	width:1210px;
	margin:0 auto;	
	height:42px;
	margin-top:47px;
	position:relative;
}
.add_task .add_item{
	position:absolute;
	cursor:pointer;
	top:0px;
	left:943px;
}
.add_task .add_get{
	position:absolute;
	cursor:pointer;
	top:0px;
	left:1090px;
}
.word_hue{
	position:relative;
	color:#6fba2c;
}
/*页脚*/
.bk-footimg{
    width:100%;
    height:191px;

}
.bk-footimg img {
    display: block;
    width: 100%;
}

