body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:85px;
  width:990px;
  height:465px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:465px;
}
#u1 {
  position:absolute;
  left:2px;
  top:224px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:668px;
  width:979px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:975px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:681px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:20px;
  width:119px;
  height:82px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:82px;
}
#u9 {
  position:absolute;
  left:2px;
  top:33px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:74px;
  top:19px;
  width:53px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:82px;
  top:69px;
  width:34px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:944px;
  top:10px;
  width:60px;
  height:40px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:119px;
  top:570px;
  width:60px;
  height:40px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:203px;
  top:570px;
  width:60px;
  height:40px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:222px;
  top:592px;
  width:23px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:279px;
  top:570px;
  width:60px;
  height:40px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:550px;
  top:570px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:15px;
  top:4px;
  width:30px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:4px;
}
#u28 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:4px;
}
#u29 {
  position:absolute;
  left:15px;
  top:26px;
  width:30px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:4px;
}
#u30 {
  position:absolute;
  left:360px;
  top:570px;
  width:70px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:450px;
  top:570px;
  width:70px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:460px;
  top:630px;
  width:433px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:125px;
  top:120px;
  width:471px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:467px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:759px;
  top:120px;
  width:151px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:595px;
  top:120px;
  width:165px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:125px;
  top:149px;
  width:471px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:467px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:759px;
  top:149px;
  width:151px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:595px;
  top:149px;
  width:165px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:780px;
  top:156px;
  width:40px;
  height:16px;
  color:#949494;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:842px;
  top:156px;
  width:53px;
  height:16px;
  color:#0066FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:125px;
  top:178px;
  width:471px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:467px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:759px;
  top:178px;
  width:151px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:595px;
  top:178px;
  width:165px;
  height:30px;
  font-size:14px;
  color:#797979;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:780px;
  top:185px;
  width:27px;
  height:16px;
  color:#0066FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:842px;
  top:185px;
  width:53px;
  height:16px;
  color:#3333FF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:25px;
  top:74px;
  visibility:hidden;
}
#u62_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:876px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:876px;
}
#u64 {
  position:absolute;
  left:2px;
  top:430px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:22px;
  top:16px;
  width:125px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:31px;
  top:52px;
  width:51px;
  height:16px;
  color:#949494;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:31px;
  top:78px;
  width:52px;
  height:16px;
  color:#949494;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:31px;
  top:106px;
  width:52px;
  height:16px;
  color:#949494;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:31px;
  top:132px;
  width:52px;
  height:16px;
  color:#949494;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:22px;
  top:166px;
  width:125px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:31px;
  top:202px;
  width:51px;
  height:16px;
  color:#949494;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:31px;
  top:228px;
  width:52px;
  height:16px;
  color:#949494;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:31px;
  top:256px;
  width:52px;
  height:16px;
  color:#949494;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:31px;
  top:282px;
  width:52px;
  height:16px;
  color:#949494;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:22px;
  top:316px;
  width:125px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:31px;
  top:352px;
  width:51px;
  height:16px;
  color:#949494;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:31px;
  top:378px;
  width:52px;
  height:16px;
  color:#949494;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:31px;
  top:406px;
  width:52px;
  height:16px;
  color:#949494;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:31px;
  top:432px;
  width:52px;
  height:16px;
  color:#949494;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:22px;
  top:474px;
  width:125px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:31px;
  top:510px;
  width:51px;
  height:16px;
  color:#949494;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:31px;
  top:536px;
  width:52px;
  height:16px;
  color:#949494;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:31px;
  top:564px;
  width:52px;
  height:16px;
  color:#949494;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:31px;
  top:590px;
  width:52px;
  height:16px;
  color:#949494;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:22px;
  top:640px;
  width:53px;
  height:16px;
  color:#0033FF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:22px;
  top:666px;
  width:160px;
  height:30px;
  color:#949494;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:180px;
  top:666px;
  width:120px;
  height:30px;
  color:#949494;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:299px;
  top:666px;
  width:120px;
  height:30px;
  color:#949494;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:417px;
  top:666px;
  width:120px;
  height:30px;
  color:#949494;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:535px;
  top:666px;
  width:120px;
  height:30px;
  color:#949494;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:22px;
  top:695px;
  width:160px;
  height:30px;
  color:#949494;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:180px;
  top:695px;
  width:120px;
  height:30px;
  color:#949494;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:299px;
  top:695px;
  width:120px;
  height:30px;
  color:#949494;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:417px;
  top:695px;
  width:120px;
  height:30px;
  color:#949494;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:535px;
  top:695px;
  width:120px;
  height:30px;
  color:#949494;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:22px;
  top:724px;
  width:160px;
  height:30px;
  color:#949494;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:180px;
  top:724px;
  width:120px;
  height:30px;
  color:#949494;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:299px;
  top:724px;
  width:120px;
  height:30px;
  color:#949494;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:417px;
  top:724px;
  width:120px;
  height:30px;
  color:#949494;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:535px;
  top:724px;
  width:120px;
  height:30px;
  color:#949494;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:22px;
  top:753px;
  width:160px;
  height:30px;
  color:#949494;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:180px;
  top:753px;
  width:120px;
  height:30px;
  color:#949494;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:299px;
  top:753px;
  width:120px;
  height:30px;
  color:#949494;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:417px;
  top:753px;
  width:120px;
  height:30px;
  color:#949494;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:535px;
  top:753px;
  width:120px;
  height:30px;
  color:#949494;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:739px;
  top:10px;
  width:27px;
  height:16px;
  color:#949494;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
