body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:18px;
  top:117px;
  width:1102px;
  height:402px;
  color:#AEAEAE;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:402px;
}
#u1 {
  position:absolute;
  left:2px;
  top:193px;
  width:1098px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:7px;
  width:144px;
  height:16px;
  color:#515151;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:730px;
  top:7px;
  width:40px;
  height:16px;
  color:#868686;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1024px;
  top:29px;
  width:126px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:122px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:950px;
  top:7px;
  width:150px;
  height:16px;
  color:#868686;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:34px;
  top:52px;
  width:60px;
  height:33px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:113px;
  top:64px;
  width:79px;
  height:16px;
  -webkit-transform:rotate(353deg);
  -moz-transform:rotate(353deg);
  -ms-transform:rotate(353deg);
  transform:rotate(353deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:867px;
  top:7px;
  width:53px;
  height:16px;
  color:#868686;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16_img.selected {
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:867px;
  top:29px;
  visibility:hidden;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:23px;
  top:11px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:23px;
  top:37px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:23px;
  top:63px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:230px;
  top:78px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#AEAEAE;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:292px;
  top:78px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:399px;
  top:78px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:590px;
  top:78px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:497px;
  top:78px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:795px;
  top:7px;
  width:53px;
  height:16px;
  color:#868686;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:2870px;
  width:1250px;
  height:140px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:140px;
}
#u40 {
  position:absolute;
  left:2px;
  top:62px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:124px;
  top:2910px;
  width:53px;
  height:28px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:230px;
  top:2916px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:18px;
  top:529px;
  width:1092px;
  height:48px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:48px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:23px;
  top:587px;
  width:1102px;
  height:402px;
  color:#AEAEAE;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:402px;
}
#u48 {
  position:absolute;
  left:2px;
  top:193px;
  width:1098px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:23px;
  top:999px;
  width:1092px;
  height:48px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:48px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:23px;
  top:1057px;
  width:1102px;
  height:402px;
  color:#AEAEAE;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:402px;
}
#u52 {
  position:absolute;
  left:2px;
  top:193px;
  width:1098px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:23px;
  top:1469px;
  width:1092px;
  height:48px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:48px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:1550px;
  width:1150px;
  height:140px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:140px;
}
#u56 {
  position:absolute;
  left:2px;
  top:62px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:54px;
  top:1590px;
  width:53px;
  height:28px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:160px;
  top:1596px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
