body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:7px;
  width:144px;
  height:16px;
  color:#515151;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:730px;
  top:7px;
  width:40px;
  height:16px;
  color:#868686;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1024px;
  top:29px;
  width:126px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:122px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:950px;
  top:7px;
  width:150px;
  height:16px;
  color:#868686;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:34px;
  top:52px;
  width:60px;
  height:33px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:113px;
  top:64px;
  width:79px;
  height:16px;
  -webkit-transform:rotate(353deg);
  -moz-transform:rotate(353deg);
  -ms-transform:rotate(353deg);
  transform:rotate(353deg);
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:867px;
  top:7px;
  width:53px;
  height:16px;
  color:#868686;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14_img.selected {
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:867px;
  top:29px;
  visibility:hidden;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:23px;
  top:11px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:23px;
  top:37px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:23px;
  top:63px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:223px;
  top:78px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:292px;
  top:78px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#A1A1A1;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:420px;
  top:78px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#FF3333;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:665px;
  top:78px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:543px;
  top:78px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#868686;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:795px;
  top:7px;
  width:53px;
  height:16px;
  color:#868686;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:124px;
  top:2910px;
  width:53px;
  height:28px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:230px;
  top:2916px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:40px;
  top:2430px;
  width:1165px;
  height:140px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:140px;
}
#u42 {
  position:absolute;
  left:2px;
  top:62px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:170px;
  top:2454px;
  width:53px;
  height:28px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:276px;
  top:2460px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:788px;
  top:-30px;
  width:177px;
  height:19px;
  font-size:16px;
  color:#868686;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:795px;
  top:34px;
  width:27px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:847px;
  top:31px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:58px;
  top:160px;
  width:30px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:58px;
  top:315px;
  width:30px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:58px;
  top:350px;
  width:30px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:58px;
  top:385px;
  width:30px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:58px;
  top:418px;
  width:30px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:68px;
  top:196px;
  width:10px;
  height:105px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:88px;
  width:20px;
  height:18px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:105px;
}
#u64 {
  position:absolute;
  left:140px;
  top:160px;
  width:927px;
  height:440px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:440px;
}
#u65 {
  position:absolute;
  left:2px;
  top:212px;
  width:923px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:140px;
  top:610px;
  width:927px;
  height:440px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:440px;
}
#u67 {
  position:absolute;
  left:2px;
  top:212px;
  width:923px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:140px;
  top:1060px;
  width:927px;
  height:440px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:440px;
}
#u69 {
  position:absolute;
  left:2px;
  top:212px;
  width:923px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:140px;
  top:1510px;
  width:927px;
  height:440px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:440px;
}
#u71 {
  position:absolute;
  left:2px;
  top:212px;
  width:923px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:140px;
  top:1960px;
  width:927px;
  height:440px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:440px;
}
#u73 {
  position:absolute;
  left:2px;
  top:212px;
  width:923px;
  word-wrap:break-word;
}
