body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1466px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:1420px;
  width:964px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:37px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:1433px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:30px;
  width:1210px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:27px;
  top:50px;
  width:53px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:70px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#949494;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:380px;
  top:57px;
  width:340px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:720px;
  top:57px;
  width:72px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:386px;
  top:59px;
  width:319px;
  height:30px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#BCBCBC;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:16px;
  top:7px;
  width:113px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1020px;
  top:7px;
  width:160px;
  height:16px;
  color:#BCBCBC;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:170px;
  width:1210px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:1193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1210px;
  height:3px;
}
#u22 {
  position:absolute;
  left:65px;
  top:144px;
  width:224px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:327px;
  top:148px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:17px;
  color:#949494;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:420px;
  top:148px;
  width:35px;
  height:20px;
  font-size:17px;
  color:#FF3333;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:505px;
  top:148px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:17px;
  color:#797979;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:580px;
  top:148px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:17px;
  color:#797979;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:40px;
  top:200px;
  width:1130px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:225px;
  width:1110px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:1093px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u35 {
  position:absolute;
  left:62px;
  top:207px;
  width:107px;
  height:16px;
  color:#BCBCBC;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1270px;
  top:200px;
  width:196px;
  height:48px;
  color:#0000FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:48px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:40px;
  top:231px;
  width:83px;
  height:69px;
  color:#BCBCBC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u40 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:40px;
  top:299px;
  width:1130px;
  height:71px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:71px;
}
#u42 {
  position:absolute;
  left:2px;
  top:28px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:300px;
  width:83px;
  height:69px;
  color:#BCBCBC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u44 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:150px;
  top:242px;
  width:27px;
  height:16px;
  color:#FF3366;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:203px;
  top:242px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:255px;
  top:242px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:150px;
  top:310px;
  width:53px;
  height:16px;
  color:#FF3366;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:229px;
  top:310px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:310px;
  top:310px;
  width:144px;
  height:16px;
  color:#A1A1A1;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:316px;
  top:242px;
  width:53px;
  height:16px;
  color:#BCBCBC;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:403px;
  top:242px;
  width:53px;
  height:16px;
  color:#BCBCBC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:487px;
  top:242px;
  width:66px;
  height:16px;
  color:#BCBCBC;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:584px;
  top:242px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1270px;
  top:258px;
  width:105px;
  height:32px;
  color:#0000FF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:40px;
  top:379px;
  width:233px;
  height:346px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:346px;
}
#u67_img.selected {
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:165px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:56px;
  top:380px;
  width:198px;
  height:196px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:196px;
}
#u70 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:55px;
  top:587px;
  width:71px;
  height:19px;
  font-size:16px;
  color:#FF0033;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:52px;
  top:614px;
  width:205px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:53px;
  top:641px;
  width:75px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:54px;
  top:666px;
  width:99px;
  height:20px;
  font-size:14px;
  color:#A1A1A1;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:40px;
  top:379px;
  width:233px;
  height:346px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:52px;
  top:696px;
  width:69px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:146px;
  top:696px;
  width:69px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:310px;
  top:485px;
  width:320px;
  height:75px;
  font-size:16px;
  color:#BCBCBC;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:75px;
}
#u85 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:991px;
  top:46px;
  width:94px;
  height:30px;
  color:#AEAEAE;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:991px;
  top:86px;
  width:94px;
  height:30px;
  color:#AEAEAE;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:984px;
  top:40px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
