body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:270px;
  width:50px;
  height:30px;
  color:#A1A1A1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:270px;
  width:50px;
  height:30px;
  color:#A1A1A1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:55px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:55px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u14_img.selected {
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#A1A1A1;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u16_img.selected {
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:27px;
  top:773px;
  width:705px;
  height:37px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:53px;
  top:786px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:10px;
  top:65px;
  width:150px;
  height:31px;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:840px;
  top:13px;
  width:90px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:133px;
  top:74px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u26_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:840px;
  top:42px;
  visibility:hidden;
}
#u31_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:210px;
  width:100px;
  height:60px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:16px;
  top:10px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:36px;
  top:20px;
  width:20px;
  height:40px;
  color:#A1A1A1;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:27px;
  top:150px;
  width:253px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:10px;
  top:130px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:560px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:560px;
}
#u47 {
  position:absolute;
  left:2px;
  top:272px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:670px;
  top:8px;
  width:110px;
  height:35px;
  color:#797979;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:670px;
  top:45px;
  width:110px;
  height:27px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:670px;
  top:104px;
  width:110px;
  height:26px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u53 {
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:670px;
  top:75px;
  width:110px;
  height:27px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:4px;
  top:8px;
  width:640px;
  height:122px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:122px;
}
#u57 {
  position:absolute;
  left:2px;
  top:53px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:750px;
  top:20px;
  width:20px;
  height:12px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:670px;
  top:9px;
  width:110px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:24px;
  top:136px;
  width:200px;
  height:140px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:140px;
}
#u62 {
  position:absolute;
  left:2px;
  top:54px;
  width:196px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:828px;
  top:147px;
  width:196px;
  height:43px;
  color:#3300FF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:43px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:26px;
  top:336px;
  width:55px;
  height:41px;
  font-size:10px;
  color:#A1A1A1;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:26px;
  top:424px;
  width:153px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:27px;
  top:453px;
  width:53px;
  height:26px;
  color:#868686;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u69 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:89px;
  top:456px;
  width:23px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:117px;
  top:456px;
  width:23px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:17px;
  top:88px;
  width:92px;
  height:32px;
  color:#3366FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:26px;
  top:286px;
  width:351px;
  height:30px;
  color:#A1A1A1;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:347px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:8px;
  top:291px;
  width:10px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:387px;
  top:293px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:824px;
  top:210px;
  width:183px;
  height:130px;
  color:#3300FF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:130px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:26px;
  top:395px;
  width:153px;
  height:22px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85 {
  position:absolute;
  left:828px;
  top:340px;
  width:191px;
  height:48px;
  color:#3333FF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:48px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:670px;
  top:42px;
  width:110px;
  height:128px;
  overflow:hidden;
  visibility:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:128px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:87px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:31px;
  top:20px;
  width:209px;
  height:16px;
  color:#BCBCBC;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:243px;
  top:140px;
  width:236px;
  height:20px;
  color:#BCBCBC;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:232px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:136px;
  top:513px;
  width:60px;
  height:27px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:256px;
  top:513px;
  width:60px;
  height:27px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:493px;
  top:293px;
  width:266px;
  height:32px;
  color:#3333FF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:481px;
  top:142px;
  width:27px;
  height:16px;
  color:#868686;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:190px;
  top:254px;
  width:27px;
  height:16px;
  color:#868686;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
