body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:119px;
  width:740px;
  height:98px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:98px;
}
#u1 {
  position:absolute;
  left:2px;
  top:41px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:677px;
  top:80px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:29px;
  top:890px;
  width:705px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:901px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:11px;
  top:124px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:78px;
  top:124px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:89px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:223px;
  top:124px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:234px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:290px;
  top:124px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:301px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:357px;
  top:124px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:368px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:427px;
  top:124px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:438px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:502px;
  top:124px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:513px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:575px;
  top:124px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:586px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:650px;
  top:124px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:661px;
  top:178px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:5px;
  top:207px;
  width:549px;
  height:7px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:7px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:324px;
  top:80px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:65px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:146px;
  top:122px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:158px;
  top:176px;
  width:27px;
  height:16px;
  color:#515151;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:767px;
  top:244px;
  width:170px;
  height:16px;
  color:#3300FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:29px;
  top:244px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#49C9EC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:78px;
  top:274px;
  width:87px;
  height:16px;
  font-size:14px;
  color:#49C9EC;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:79px;
  top:297px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:79px;
  top:320px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:79px;
  top:344px;
  width:67px;
  height:16px;
  color:#A1A1A1;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:79px;
  top:368px;
  width:70px;
  height:16px;
  color:#A1A1A1;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:442px;
  top:276px;
  width:100px;
  height:100px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:408px;
  top:386px;
  width:10px;
  height:10px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:79px;
  top:394px;
  width:70px;
  height:16px;
  color:#A1A1A1;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:428px;
  top:383px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:480px;
  top:386px;
  width:10px;
  height:10px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:500px;
  top:383px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:553px;
  top:386px;
  width:10px;
  height:10px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:573px;
  top:383px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:442px;
  top:319px;
  width:100px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u85 {
  position:absolute;
  left:504px;
  top:282px;
  width:10px;
  height:49px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u85_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:32px;
  width:20px;
  height:18px;
}
#u85_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:49px;
}
#u86 {
  position:absolute;
  left:357px;
  top:322px;
  width:41px;
  height:16px;
  color:#A1A1A1;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:409px;
  top:248px;
  width:41px;
  height:16px;
  color:#A1A1A1;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:570px;
  top:281px;
  width:34px;
  height:16px;
  color:#A1A1A1;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:538px;
  top:300px;
  width:30px;
  height:10px;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u93 {
  position:absolute;
  left:563px;
  top:294px;
  width:41px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:24px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:41px;
  height:1px;
}
#u94 {
  position:absolute;
  left:433px;
  top:270px;
  width:30px;
  height:10px;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u95 {
  position:absolute;
  left:409px;
  top:264px;
  width:27px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u96 {
  position:absolute;
  left:409px;
  top:346px;
  width:49px;
  height:10px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:32px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  height:1px;
}
#u97 {
  position:absolute;
  left:357px;
  top:338px;
  width:58px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u98 {
  position:absolute;
  left:767px;
  top:298px;
  width:79px;
  height:64px;
  color:#0000FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:64px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:29px;
  top:460px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#49C9EC;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:78px;
  top:490px;
  width:87px;
  height:16px;
  font-size:14px;
  color:#49C9EC;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:79px;
  top:513px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:79px;
  top:536px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:432px;
  top:480px;
  width:140px;
  height:140px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u109 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:390px;
  top:541px;
  width:42px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:25px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  height:1px;
}
#u111 {
  position:absolute;
  left:392px;
  top:527px;
  width:20px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:392px;
  top:517px;
  width:42px;
  height:10px;
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  -ms-transform:rotate(6deg);
  transform:rotate(6deg);
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:25px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  height:1px;
}
#u114 {
  position:absolute;
  left:394px;
  top:503px;
  width:20px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:767px;
  top:470px;
  width:157px;
  height:144px;
  color:#6600FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:144px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:29px;
  top:678px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#49C9EC;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:78px;
  top:708px;
  width:107px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:79px;
  top:731px;
  width:107px;
  height:16px;
  color:#A1A1A1;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:79px;
  top:754px;
  width:107px;
  height:16px;
  color:#A1A1A1;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:443px;
  top:660px;
  width:140px;
  height:140px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u127 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:401px;
  top:721px;
  width:42px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:25px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  height:1px;
}
#u129 {
  position:absolute;
  left:403px;
  top:707px;
  width:20px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:403px;
  top:697px;
  width:42px;
  height:10px;
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  -ms-transform:rotate(6deg);
  transform:rotate(6deg);
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:25px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  height:1px;
}
#u132 {
  position:absolute;
  left:405px;
  top:683px;
  width:20px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:728px;
  top:721px;
  width:131px;
  height:48px;
  color:#6600FF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:48px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:20px;
  top:90px;
  width:108px;
  height:22px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#949494;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u137 {
  position:absolute;
  left:728px;
  top:779px;
  width:131px;
  height:48px;
  color:#6600FF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:48px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u140 {
  position:absolute;
  left:2px;
  top:20px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u143_img.selected {
}
#u143.selected {
}
#u144 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#33CCCC;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u145_img.selected {
}
#u145.selected {
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u147_img.selected {
}
#u147.selected {
}
#u148 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u149_img.selected {
}
#u149.selected {
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u151_img.selected {
}
#u151.selected {
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:630px;
  top:14px;
  width:90px;
  height:30px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:630px;
  top:43px;
  visibility:hidden;
}
#u155_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u157 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u159 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:219px;
  top:41px;
  width:77px;
  height:10px;
}
#u160_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_line {
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  height:3px;
}
