body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:130px;
  width:1139px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:1135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:47px;
  top:40px;
  width:68px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:795px;
  top:357px;
  width:235px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:764px;
  top:478px;
  width:296px;
  height:56px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:56px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:795px;
  top:439px;
  width:40px;
  height:16px;
  color:#949494;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:966px;
  top:439px;
  width:53px;
  height:16px;
  color:#949494;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:795px;
  top:389px;
  width:235px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:795px;
  top:439px;
  width:60px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
