body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:965px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:55px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:55px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:208px;
  top:14px;
  width:65px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:282px;
  top:14px;
  width:70px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:362px;
  top:14px;
  width:51px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#33CCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:423px;
  top:14px;
  width:58px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:850px;
  top:14px;
  width:90px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:723px;
  width:964px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:38px;
  top:736px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:350px;
  top:39px;
  width:79px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:2px;
}
#u21 {
  position:absolute;
  left:678px;
  top:9px;
  width:79px;
  height:32px;
  color:#BCBCBC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:13px;
  top:106px;
  width:920px;
  height:56px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:56px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:37px;
  top:123px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#A1A1A1;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:55px;
  width:950px;
  height:50px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:50px;
  color:#66CCFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:946px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:884px;
  top:0px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:13px;
  top:172px;
  width:920px;
  height:108px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:108px;
}
#u34 {
  position:absolute;
  left:2px;
  top:46px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:210px;
  width:890px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:873px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:890px;
  height:2px;
}
#u36 {
  position:absolute;
  left:25px;
  top:182px;
  width:93px;
  height:30px;
  font-size:16px;
  color:#A1A1A1;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:25px;
  top:210px;
  width:93px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:93px;
  height:2px;
}
#u39 {
  position:absolute;
  left:118px;
  top:182px;
  width:93px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#33CCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:21px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:99px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:177px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:255px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:333px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:411px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:489px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:567px;
  top:222px;
  width:78px;
  height:25px;
  font-size:14px;
  color:#868686;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:13px;
  top:314px;
  width:920px;
  height:56px;
  font-size:15px;
  color:#868686;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:56px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:20px;
  width:916px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:19px;
  top:290px;
  width:91px;
  height:17px;
  font-size:15px;
  color:#33CCCC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:13px;
  top:369px;
  width:920px;
  height:56px;
  font-size:15px;
  color:#868686;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:56px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:20px;
  width:916px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:13px;
  top:424px;
  width:920px;
  height:56px;
  font-size:15px;
  color:#868686;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:56px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:20px;
  width:916px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:13px;
  top:479px;
  width:920px;
  height:56px;
  font-size:15px;
  color:#868686;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:56px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:20px;
  width:916px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:578px;
  top:574px;
  width:103px;
  height:19px;
  font-size:16px;
  color:#868686;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:138px;
  top:123px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#AEAEAE;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:236px;
  top:123px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#33CCCC;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:13px;
  top:317px;
  width:627px;
  height:213px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
