body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:280px;
  visibility:hidden;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
  color:#AEAEAE;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
}
#u2 {
  position:absolute;
  left:2px;
  top:62px;
  width:126px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
}
#u4 {
  position:absolute;
  left:2px;
  top:62px;
  width:126px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:55px;
  width:736px;
  height:167px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:167px;
}
#u6 {
  position:absolute;
  left:2px;
  top:76px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:180px;
  top:65px;
  width:97px;
  height:23px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:240px;
  top:65px;
  width:97px;
  height:23px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:198px;
  top:81px;
  width:97px;
  height:23px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:296px;
  top:84px;
  width:97px;
  height:23px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:123px;
  top:70px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:235px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:295px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#515151;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:355px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:415px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:475px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:535px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:780px;
  top:84px;
  width:170px;
  height:32px;
  color:#3300FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:164px;
  top:214px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:254px;
  top:195px;
  width:57px;
  height:16px;
  -webkit-transform:rotate(353deg);
  -moz-transform:rotate(353deg);
  -ms-transform:rotate(353deg);
  transform:rotate(353deg);
  font-size:14px;
  color:#3366FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:343px;
  top:191px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:450px;
  top:191px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:770px;
  top:270px;
  width:64px;
  height:25px;
  font-size:12px;
  color:#C9C9C9;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:688px;
  top:754px;
  width:183px;
  height:32px;
  color:#3300FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:25px;
  top:900px;
  width:832px;
  height:37px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:37px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:58px;
  top:913px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:697px;
  top:270px;
  width:64px;
  height:25px;
  font-size:12px;
  color:#C9C9C9;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u48 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:33px;
  top:500px;
  width:304px;
  height:32px;
  color:#3333FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:69px;
  top:280px;
}
#u51_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
}
#u53 {
  position:absolute;
  left:2px;
  top:62px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:30px;
  top:60px;
  width:71px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  height:3px;
}
#u55 {
  position:absolute;
  left:30px;
  top:60px;
  width:71px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  height:3px;
}
#u56 {
  position:absolute;
  left:257px;
  top:272px;
  visibility:hidden;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:169px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:169px;
}
#u58 {
  position:absolute;
  left:2px;
  top:76px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:86px;
  top:49px;
  width:161px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#A1A1A1;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:80px;
  top:108px;
  width:68px;
  height:30px;
  color:#AEAEAE;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:182px;
  top:108px;
  width:68px;
  height:30px;
  color:#AEAEAE;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u56_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u56_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:169px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:169px;
}
#u66 {
  position:absolute;
  left:2px;
  top:76px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:105px;
  top:58px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#A1A1A1;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:219px;
  top:41px;
  width:77px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  height:3px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u71 {
  position:absolute;
  left:2px;
  top:20px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u74_img.selected {
}
#u74.selected {
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#33CCCC;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u76_img.selected {
}
#u76.selected {
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u78_img.selected {
}
#u78.selected {
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u80_img.selected {
}
#u80.selected {
}
#u81 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u82_img.selected {
}
#u82.selected {
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:630px;
  top:14px;
  width:90px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:630px;
  top:43px;
  visibility:hidden;
}
#u86_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
