body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:55px;
  width:736px;
  height:167px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:167px;
}
#u1 {
  position:absolute;
  left:2px;
  top:76px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:65px;
  width:97px;
  height:23px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:65px;
  width:97px;
  height:23px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:198px;
  top:81px;
  width:97px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:296px;
  top:84px;
  width:97px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:123px;
  top:70px;
  width:47px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:25px;
  top:668px;
  width:650px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:37px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:51px;
  top:681px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:235px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:295px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:355px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:415px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:475px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:535px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:780px;
  top:84px;
  width:170px;
  height:32px;
  color:#3300FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:180px;
  top:240px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:310px;
  top:240px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:565px;
  top:240px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:269px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:180px;
  top:269px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:310px;
  top:269px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:565px;
  top:269px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:600px;
  top:276px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:648px;
  top:276px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:630px;
  top:277px;
  width:10px;
  height:16px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u51 {
  position:absolute;
  left:654px;
  top:207px;
  width:54px;
  height:30px;
  color:#A1A1A1;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:207px;
  width:70px;
  height:30px;
  color:#A1A1A1;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:298px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:180px;
  top:298px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:310px;
  top:298px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:565px;
  top:298px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:600px;
  top:305px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:648px;
  top:305px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:630px;
  top:306px;
  width:10px;
  height:16px;
}
#u67_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u67_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:327px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:180px;
  top:327px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:310px;
  top:327px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:565px;
  top:327px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:600px;
  top:334px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:648px;
  top:334px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:630px;
  top:335px;
  width:10px;
  height:16px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:356px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:180px;
  top:356px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:310px;
  top:356px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:565px;
  top:356px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:600px;
  top:363px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:648px;
  top:363px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:630px;
  top:364px;
  width:10px;
  height:16px;
}
#u93_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u93_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u93_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:385px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:180px;
  top:385px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:310px;
  top:385px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:565px;
  top:385px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:600px;
  top:392px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:648px;
  top:392px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:630px;
  top:393px;
  width:10px;
  height:16px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:414px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:180px;
  top:414px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:310px;
  top:414px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:565px;
  top:414px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:600px;
  top:421px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:648px;
  top:421px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:630px;
  top:422px;
  width:10px;
  height:16px;
}
#u119_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u119_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u119_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:444px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:180px;
  top:444px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:310px;
  top:444px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:565px;
  top:444px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:600px;
  top:451px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:648px;
  top:451px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:630px;
  top:452px;
  width:10px;
  height:16px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:473px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:180px;
  top:473px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:310px;
  top:473px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:565px;
  top:473px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:600px;
  top:480px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:648px;
  top:480px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:630px;
  top:481px;
  width:10px;
  height:16px;
}
#u145_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u145_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u145_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:502px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u147 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:180px;
  top:502px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u149 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:310px;
  top:502px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u151 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:565px;
  top:502px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u153 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:600px;
  top:509px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:648px;
  top:509px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:630px;
  top:510px;
  width:10px;
  height:16px;
}
#u158_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u158_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u158_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:531px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:180px;
  top:531px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:310px;
  top:531px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:565px;
  top:531px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:600px;
  top:538px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:648px;
  top:538px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:630px;
  top:539px;
  width:10px;
  height:16px;
}
#u171_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u171_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u171_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:560px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u173 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:180px;
  top:560px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u175 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:310px;
  top:560px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u177 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:565px;
  top:560px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u179 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:600px;
  top:567px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:648px;
  top:567px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:630px;
  top:568px;
  width:10px;
  height:16px;
}
#u184_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u184_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u184_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:589px;
  width:180px;
  height:30px;
  color:#A1A1A1;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:180px;
  top:589px;
  width:130px;
  height:30px;
  color:#A1A1A1;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:310px;
  top:589px;
  width:255px;
  height:30px;
  color:#A1A1A1;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:565px;
  top:589px;
  width:145px;
  height:30px;
  color:#A1A1A1;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u192 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:600px;
  top:596px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:648px;
  top:596px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:630px;
  top:597px;
  width:10px;
  height:16px;
}
#u197_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u197_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u197_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u198 {
  position:absolute;
  left:135px;
  top:290px;
  visibility:hidden;
}
#u198_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u198_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:213px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:213px;
}
#u200 {
  position:absolute;
  left:2px;
  top:98px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:91px;
  top:62px;
  width:177px;
  height:19px;
  font-size:16px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u203 {
  position:absolute;
  left:60px;
  top:135px;
  width:67px;
  height:29px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u204 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:201px;
  top:135px;
  width:67px;
  height:29px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u206 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u198_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u198_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:213px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:213px;
}
#u208 {
  position:absolute;
  left:2px;
  top:98px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:114px;
  top:62px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:290px;
  top:632px;
  width:26px;
  height:20px;
  color:#A1A1A1;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:324px;
  top:632px;
  width:26px;
  height:20px;
  color:#A1A1A1;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u214 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:357px;
  top:632px;
  width:26px;
  height:20px;
  color:#A1A1A1;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u216 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:230px;
  top:632px;
  width:38px;
  height:20px;
  color:#A1A1A1;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u218 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:396px;
  top:632px;
  width:61px;
  height:20px;
  color:#A1A1A1;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u220 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:392px;
  top:621px;
  width:22px;
  height:28px;
  color:#A1A1A1;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:650px;
  top:331px;
  width:25px;
  height:281px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u224 {
  position:absolute;
  left:600px;
  top:389px;
  width:27px;
  height:223px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u226 {
  position:absolute;
  left:2px;
  top:20px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u229_img.selected {
}
#u229.selected {
}
#u230 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#33CCCC;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u231_img.selected {
}
#u231.selected {
}
#u232 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u233_img.selected {
}
#u233.selected {
}
#u234 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u235_img.selected {
}
#u235.selected {
}
#u236 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u237_img.selected {
}
#u237.selected {
}
#u238 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:630px;
  top:14px;
  width:90px;
  height:30px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u240 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:630px;
  top:43px;
  visibility:hidden;
}
#u241_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u241_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u243 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u245 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:219px;
  top:41px;
  width:77px;
  height:10px;
}
#u246_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u246_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:18px;
  height:20px;
}
#u246_line {
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  height:3px;
}
#u247 {
  position:absolute;
  left:38px;
  top:750px;
  width:862px;
  height:52px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:52px;
}
#u248 {
  position:absolute;
  left:2px;
  top:18px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:51px;
  top:734px;
  width:105px;
  height:16px;
  color:#3300FF;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:710px;
  top:269px;
  width:157px;
  height:48px;
  color:#3333FF;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:48px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
