body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:55px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:55px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:208px;
  top:14px;
  width:65px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:282px;
  top:14px;
  width:70px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:362px;
  top:14px;
  width:51px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#33CCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:423px;
  top:14px;
  width:58px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:850px;
  top:14px;
  width:90px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:1903px;
  width:964px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:37px;
  top:1916px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:350px;
  top:39px;
  width:79px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:2px;
}
#u21 {
  position:absolute;
  left:678px;
  top:9px;
  width:79px;
  height:32px;
  color:#BCBCBC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:350px;
  top:130px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#A1A1A1;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:608px;
  top:162px;
  width:105px;
  height:16px;
  color:#A1A1A1;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:194px;
  width:54px;
  height:16px;
  color:#A1A1A1;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:157px;
  top:222px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#C9C9C9;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:115px;
  top:230px;
  width:10px;
  height:400px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:383px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:400px;
}
#u32 {
  position:absolute;
  left:227px;
  top:244px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#BCBCBC;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:435px;
  top:244px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#BCBCBC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:676px;
  top:244px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#BCBCBC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:720px;
  top:248px;
  width:44px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:214px;
  top:280px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:67px;
  top:280px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:401px;
  top:278px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:423px;
  top:278px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:447px;
  top:278px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:470px;
  top:278px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:494px;
  top:278px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:680px;
  top:282px;
  width:23px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:214px;
  top:317px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:67px;
  top:317px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:401px;
  top:315px;
  width:20px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:423px;
  top:315px;
  width:20px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:447px;
  top:315px;
  width:20px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:470px;
  top:315px;
  width:20px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:494px;
  top:315px;
  width:20px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:680px;
  top:319px;
  width:23px;
  height:16px;
  color:#00CCCC;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:214px;
  top:354px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:67px;
  top:354px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:401px;
  top:352px;
  width:20px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:423px;
  top:352px;
  width:20px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:447px;
  top:352px;
  width:20px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:470px;
  top:352px;
  width:20px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:494px;
  top:352px;
  width:20px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:680px;
  top:356px;
  width:31px;
  height:16px;
  color:#00CCCC;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:721px;
  top:355px;
  width:100px;
  height:14px;
  font-size:11px;
  color:#0033FF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:215px;
  top:387px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:68px;
  top:387px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:402px;
  top:385px;
  width:20px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:424px;
  top:385px;
  width:20px;
  height:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:448px;
  top:385px;
  width:20px;
  height:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:471px;
  top:385px;
  width:20px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:495px;
  top:385px;
  width:20px;
  height:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:681px;
  top:389px;
  width:23px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:215px;
  top:424px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:68px;
  top:424px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:402px;
  top:422px;
  width:20px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:424px;
  top:422px;
  width:20px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:448px;
  top:422px;
  width:20px;
  height:20px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:471px;
  top:422px;
  width:20px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:495px;
  top:422px;
  width:20px;
  height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:681px;
  top:426px;
  width:23px;
  height:16px;
  color:#00CCCC;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:215px;
  top:461px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:68px;
  top:461px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:402px;
  top:459px;
  width:20px;
  height:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:424px;
  top:459px;
  width:20px;
  height:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:448px;
  top:459px;
  width:20px;
  height:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:471px;
  top:459px;
  width:20px;
  height:20px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:495px;
  top:459px;
  width:20px;
  height:20px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:681px;
  top:463px;
  width:31px;
  height:16px;
  color:#00CCCC;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:722px;
  top:462px;
  width:100px;
  height:14px;
  font-size:11px;
  color:#0033FF;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:215px;
  top:493px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:68px;
  top:493px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:402px;
  top:491px;
  width:20px;
  height:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:424px;
  top:491px;
  width:20px;
  height:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:448px;
  top:491px;
  width:20px;
  height:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:471px;
  top:491px;
  width:20px;
  height:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:495px;
  top:491px;
  width:20px;
  height:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:681px;
  top:495px;
  width:31px;
  height:16px;
  color:#00CCCC;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:722px;
  top:494px;
  width:100px;
  height:14px;
  font-size:11px;
  color:#0033FF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:216px;
  top:526px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:69px;
  top:526px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:403px;
  top:524px;
  width:20px;
  height:20px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:425px;
  top:524px;
  width:20px;
  height:20px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:449px;
  top:524px;
  width:20px;
  height:20px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u167 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:472px;
  top:524px;
  width:20px;
  height:20px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:496px;
  top:524px;
  width:20px;
  height:20px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:682px;
  top:528px;
  width:23px;
  height:16px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:216px;
  top:563px;
  width:51px;
  height:16px;
  color:#BCBCBC;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:69px;
  top:563px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:403px;
  top:561px;
  width:20px;
  height:20px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:425px;
  top:561px;
  width:20px;
  height:20px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:449px;
  top:561px;
  width:20px;
  height:20px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:472px;
  top:561px;
  width:20px;
  height:20px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:496px;
  top:561px;
  width:20px;
  height:20px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:682px;
  top:565px;
  width:23px;
  height:16px;
  color:#00CCCC;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:211px;
  top:600px;
  width:58px;
  height:16px;
  color:#BCBCBC;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:69px;
  top:600px;
  width:67px;
  height:16px;
  color:#BCBCBC;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:403px;
  top:598px;
  width:20px;
  height:20px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:425px;
  top:598px;
  width:20px;
  height:20px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:449px;
  top:598px;
  width:20px;
  height:20px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:472px;
  top:598px;
  width:20px;
  height:20px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u201 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:496px;
  top:598px;
  width:20px;
  height:20px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:682px;
  top:602px;
  width:31px;
  height:16px;
  color:#00CCCC;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:723px;
  top:601px;
  width:100px;
  height:14px;
  font-size:11px;
  color:#0033FF;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:119px;
  top:225px;
  width:28px;
  height:10px;
}
#u208_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_end {
  position:absolute;
  left:11px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u209 {
  position:absolute;
  left:350px;
  top:162px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:4px;
  top:1130px;
  width:964px;
  height:37px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:37px;
}
#u212 {
  position:absolute;
  left:2px;
  top:10px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:42px;
  top:1144px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:20px;
  top:74px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:178px;
  top:74px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#33CCCC;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:84px;
  top:74px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#AEAEAE;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:69px;
  top:644px;
  width:696px;
  height:32px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:32px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:54px;
  top:708px;
  width:261px;
  height:16px;
  color:#0000FF;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
