body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:160px;
  width:50px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:160px;
  width:27px;
  height:16px;
  color:#AEAEAE;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:230px;
  top:264px;
  width:53px;
  height:16px;
  color:#AEAEAE;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:454px;
  top:178px;
  width:156px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:152px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:200px;
  width:174px;
  height:0px;
}
#u8_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:188px;
  height:20px;
}
#u9 {
  position:absolute;
  left:37px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
