body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:268px;
  width:50px;
  height:30px;
  color:#A1A1A1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:773px;
  width:705px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:53px;
  top:786px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:65px;
  width:150px;
  height:31px;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:133px;
  top:74px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:95px;
  visibility:hidden;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:29px;
  width:150px;
  height:30px;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:210px;
  width:100px;
  height:60px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:16px;
  top:10px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:36px;
  top:20px;
  width:20px;
  height:40px;
  color:#A1A1A1;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:27px;
  top:150px;
  width:253px;
  height:16px;
  font-size:14px;
  color:#A1A1A1;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:10px;
  top:120px;
  visibility:hidden;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:620px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:620px;
}
#u29 {
  position:absolute;
  left:2px;
  top:302px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:654px;
  top:5px;
  width:110px;
  height:35px;
  color:#797979;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:654px;
  top:42px;
  width:110px;
  height:27px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:654px;
  top:101px;
  width:110px;
  height:26px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:654px;
  top:72px;
  width:110px;
  height:27px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:4px;
  top:5px;
  width:640px;
  height:122px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:122px;
}
#u39 {
  position:absolute;
  left:2px;
  top:53px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:734px;
  top:17px;
  width:20px;
  height:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:654px;
  top:5px;
  width:110px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:10px;
  top:8px;
  width:628px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u44 {
  position:absolute;
  left:24px;
  top:131px;
  width:200px;
  height:140px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:140px;
}
#u45 {
  position:absolute;
  left:2px;
  top:54px;
  width:196px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:828px;
  top:147px;
  width:196px;
  height:43px;
  color:#3300FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:43px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:25px;
  top:342px;
  width:55px;
  height:41px;
  font-size:10px;
  color:#A1A1A1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:25px;
  top:430px;
  width:153px;
  height:22px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:26px;
  top:493px;
  width:53px;
  height:26px;
  color:#868686;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u52 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:88px;
  top:496px;
  width:23px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:116px;
  top:496px;
  width:23px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:546px;
  top:87px;
  width:92px;
  height:32px;
  color:#3366FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:25px;
  top:292px;
  width:351px;
  height:30px;
  color:#A1A1A1;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:347px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:4px;
  top:295px;
  width:12px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:124px;
  top:342px;
  width:131px;
  height:16px;
  color:#A1A1A1;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:386px;
  top:299px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:24px;
  top:251px;
  visibility:hidden;
}
#u67_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:166px;
  top:2px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:824px;
  top:210px;
  width:196px;
  height:130px;
  color:#3300FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:130px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:25px;
  top:401px;
  width:153px;
  height:22px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75 {
  position:absolute;
  left:828px;
  top:340px;
  width:191px;
  height:48px;
  color:#3333FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:48px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:654px;
  top:39px;
  width:110px;
  height:128px;
  overflow:hidden;
  visibility:hidden;
}
#u77_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:128px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u77_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:87px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#AEAEAE;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:136px;
  top:547px;
  width:60px;
  height:27px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u87 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:256px;
  top:547px;
  width:60px;
  height:27px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u89 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:24px;
  top:459px;
  width:153px;
  height:22px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#A1A1A1;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u91 {
  position:absolute;
  left:860px;
  top:76px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:55px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:55px;
}
#u94 {
  position:absolute;
  left:2px;
  top:20px;
  width:1030px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u97_img.selected {
}
#u97.selected {
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#33CCCC;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u99_img.selected {
}
#u99.selected {
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u101_img.selected {
}
#u101.selected {
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u103_img.selected {
}
#u103.selected {
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u105_img.selected {
}
#u105.selected {
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:930px;
  top:14px;
  width:90px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:930px;
  top:43px;
  visibility:hidden;
}
#u109_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u109_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:219px;
  top:41px;
  width:77px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  height:3px;
}
#u115 {
  position:absolute;
  left:230px;
  top:67px;
  width:90px;
  height:26px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u116 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:350px;
  top:67px;
  width:90px;
  height:26px;
  color:#A1A1A1;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u118 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
