body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:55px;
  width:736px;
  height:167px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:167px;
}
#u1 {
  position:absolute;
  left:2px;
  top:76px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:65px;
  width:97px;
  height:23px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:65px;
  width:97px;
  height:23px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:198px;
  top:81px;
  width:97px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:296px;
  top:84px;
  width:97px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:123px;
  top:70px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:787px;
  width:705px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:46px;
  top:800px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#336666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:235px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:295px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#515151;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:355px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:415px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:475px;
  top:122px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:535px;
  top:126px;
  width:60px;
  height:26px;
  font-size:12px;
  color:#434343;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:780px;
  top:84px;
  width:170px;
  height:32px;
  color:#3300FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:198px;
  top:206px;
  width:53px;
  height:16px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:288px;
  top:194px;
  width:53px;
  height:16px;
  color:#0066FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:367px;
  top:194px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:7px;
  top:236px;
  width:103px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#949494;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:780px;
  top:170px;
  width:170px;
  height:16px;
  color:#0066FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:4px;
  top:268px;
  width:186px;
  height:511px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:511px;
}
#u40 {
  position:absolute;
  left:2px;
  top:248px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:13px;
  top:288px;
  width:133px;
  height:16px;
  color:#434343;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:13px;
  top:314px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:13px;
  top:343px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:13px;
  top:372px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:13px;
  top:398px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:13px;
  top:427px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:13px;
  top:453px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:13px;
  top:479px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:13px;
  top:508px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:13px;
  top:537px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:13px;
  top:563px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:13px;
  top:592px;
  width:133px;
  height:16px;
  color:#A1A1A1;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:229px;
  top:288px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:245px;
  top:342px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:225px;
  top:358px;
  width:62px;
  height:18px;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:225px;
  top:380px;
  width:62px;
  height:18px;
  font-size:10px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:324px;
  top:288px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:340px;
  top:342px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:320px;
  top:358px;
  width:62px;
  height:18px;
  font-size:10px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:320px;
  top:380px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:423px;
  top:288px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u82 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:439px;
  top:342px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:419px;
  top:358px;
  width:62px;
  height:18px;
  font-size:10px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:419px;
  top:380px;
  width:62px;
  height:18px;
  font-size:10px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:522px;
  top:288px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u90 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:538px;
  top:342px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:518px;
  top:380px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:634px;
  top:288px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:650px;
  top:342px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:630px;
  top:380px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:226px;
  top:418px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u102 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:242px;
  top:474px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:222px;
  top:490px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:222px;
  top:510px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:321px;
  top:418px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u110 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:337px;
  top:474px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:317px;
  top:490px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:317px;
  top:510px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:420px;
  top:418px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u118 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:436px;
  top:474px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:416px;
  top:510px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:519px;
  top:418px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u124 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:535px;
  top:474px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:515px;
  top:510px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:631px;
  top:418px;
  width:55px;
  height:55px;
  font-size:9px;
  color:#A1A1A1;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u130 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:647px;
  top:474px;
  width:27px;
  height:16px;
  color:#A1A1A1;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:627px;
  top:490px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:627px;
  top:510px;
  width:62px;
  height:18px;
  font-size:10px;
  color:#A1A1A1;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:770px;
  top:224px;
  width:235px;
  height:66px;
  color:#0066FF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:66px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:181px;
  top:272px;
  width:7px;
  height:498px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:498px;
}
#u140 {
  position:absolute;
  left:2px;
  top:241px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:770px;
  top:410px;
  width:183px;
  height:48px;
  color:#0000FF;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:48px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:630px;
  top:358px;
  width:28px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:518px;
  top:354px;
  width:28px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:416px;
  top:490px;
  width:28px;
  height:16px;
  color:#A1A1A1;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:767px;
  top:482px;
  width:144px;
  height:48px;
  color:#3300FF;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:515px;
  top:490px;
  width:28px;
  height:16px;
  color:#A1A1A1;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:382px;
  top:750px;
  width:26px;
  height:20px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u154 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:416px;
  top:750px;
  width:26px;
  height:20px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u156 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:449px;
  top:750px;
  width:26px;
  height:20px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u158 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:322px;
  top:750px;
  width:38px;
  height:20px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u160 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:516px;
  top:750px;
  width:51px;
  height:20px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:484px;
  top:739px;
  width:22px;
  height:28px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:219px;
  top:355px;
  width:259px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u166 {
  position:absolute;
  left:222px;
  top:485px;
  width:166px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u167 {
  position:absolute;
  left:627px;
  top:488px;
  width:62px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u168 {
  position:absolute;
  left:140px;
  top:139px;
  visibility:hidden;
}
#u168_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u168_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:406px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:406px;
}
#u170 {
  position:absolute;
  left:2px;
  top:195px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:216px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0066FF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:112px;
  top:90px;
  width:40px;
  height:16px;
  color:#868686;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:195px;
  top:87px;
  width:113px;
  height:22px;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u176 {
  position:absolute;
  left:100px;
  top:123px;
  width:53px;
  height:16px;
  color:#868686;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:195px;
  top:120px;
  width:113px;
  height:22px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u179 {
  position:absolute;
  left:91px;
  top:217px;
  width:53px;
  height:16px;
  color:#868686;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:187px;
  top:214px;
  width:241px;
  height:22px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u182 {
  position:absolute;
  left:91px;
  top:180px;
  width:40px;
  height:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:91px;
  top:257px;
  width:53px;
  height:16px;
  color:#868686;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:187px;
  top:254px;
  width:241px;
  height:22px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u187 {
  position:absolute;
  left:91px;
  top:297px;
  width:53px;
  height:16px;
  color:#868686;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:187px;
  top:294px;
  width:241px;
  height:22px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u190 {
  position:absolute;
  left:208px;
  top:356px;
  width:85px;
  height:30px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u191 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:460px;
  top:10px;
  width:27px;
  height:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:170px;
  top:160px;
  width:274px;
  height:42px;
  font-size:11px;
  color:#3333FF;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:42px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:222px;
  top:288px;
  width:483px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u197 {
  position:absolute;
  left:222px;
  top:418px;
  width:483px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  position:absolute;
  left:26px;
  top:886px;
  width:862px;
  height:52px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:52px;
}
#u199 {
  position:absolute;
  left:2px;
  top:18px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:40px;
  top:870px;
  width:105px;
  height:16px;
  color:#3300FF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:123px;
  top:236px;
  width:103px;
  height:22px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#949494;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:55px;
}
#u204 {
  position:absolute;
  left:2px;
  top:20px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:20px;
  top:9px;
  width:68px;
  height:37px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:119px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u207_img.selected {
}
#u207.selected {
}
#u208 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:215px;
  top:14px;
  width:80px;
  height:33px;
  font-size:16px;
  color:#33CCCC;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u209_img.selected {
}
#u209.selected {
}
#u210 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:310px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u211_img.selected {
}
#u211.selected {
}
#u212 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:409px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u213_img.selected {
}
#u213.selected {
}
#u214 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:512px;
  top:14px;
  width:80px;
  height:33px;
  font-size:14px;
  color:#A1A1A1;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u215_img.selected {
}
#u215.selected {
}
#u216 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:630px;
  top:14px;
  width:90px;
  height:30px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u218 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:630px;
  top:43px;
  visibility:hidden;
}
#u219_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u219_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u221 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:0px;
  top:26px;
  width:90px;
  height:27px;
  color:#A1A1A1;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u223 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:219px;
  top:41px;
  width:77px;
  height:10px;
}
#u224_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u224_end {
  position:absolute;
  left:60px;
  top:-5px;
  width:18px;
  height:20px;
}
#u224_line {
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  height:3px;
}
